@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  /* TW Teal 600, 100*/
  --color-main: #0d9488;
  --color-accent: cyan;
  --color-bg: #ccfbf1;

  font-family: 'Poppins';
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

span.material-icons,
span.material-icons-outlined {
  font-size: 36px;
}




.container {
  height: 100vh;
  display: grid;
  grid-template: 140px 1fr / 250px 1fr;
  
}

.sidebar {
  color: white;
  background-color: var(--color-main);
  grid-row: 1 / -1;

  display: grid;
  grid-template-rows: 80px repeat(9, 40px);

  padding: 24px;
  z-index: 1;
}

.sidebar>div {
  display: flex;
  align-items: center;
  gap: 10px;
}





.header {
  grid-column: 2;
  display: grid;
  grid-template: 2fr 3fr / 1fr 340px;

  z-index: 1;
  box-shadow: rgba(37, 37, 37, 0.6) 0 0 8px 0;
}

#search-bar {
  width: 90%;
  background-color: rgb(231, 231, 231);
  height: 24px;
  border-radius: 24px; 
  border-width: 0px;
}

.search,
.user-info,
.account,
.buttons {
  display: flex;
  align-items: center;
}

.search {
  margin-top: 10px;
}

.account {
  justify-content: space-around;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.buttons {
  gap: 30px;
}

button {
  font-size: 1rem;
  font-weight: bold;
  width: 80px;
  height: 32px;
  border-radius: 18px;
  border-width: 0px;
}

.search,
.user-info {
  margin-left: 20px;
}

.search>span {
  margin-right: 15px;
}

.user-info {
  gap: 20px;
}

.account-pfp {
  width: 44px;
  border-radius: 50%;
}

.info-pfp {
  width: 60px;
  border-radius: 50%;
}







.main-content {
  background-color: var(--color-bg);

  display: grid;
  grid-template: 342px 1fr / 1fr 260px; /*3fr 1fr; */
}

.projects>*+*,
.announcements>*+*,
.trending>*+* {
  padding: 20px;
}

.projects {
  grid-row: 1 / -1;

  display: grid;
  grid-template: 30px repeat(3, 220px) / repeat(auto-fit, minmax(360px, 1fr)) ;
  grid-auto-rows: 230px;
}

.proj-title {
  grid-column: 1 / -1;
  margin: 20px;
}

.project-card {
  background-color: white;
  border-left: 10px #14b8a6 solid;
  margin: 20px;
  border-radius: 9px;
}

.project-card-title {
  font-weight: bold;
}

.project-card-content {
  font-size: 0.9em;
  color: rgb(77, 77, 77);
}

.project-card,
.trending-card,
.announcements-card {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 4px;
}



.announcements,
.trending {
  display: grid;
  grid-template-rows: 30px 1fr;
}

.announcements-title,
.announcements-card,
.trending-title,
.trending-card {
  margin-top: 20px;
}

.announcements-card,
.trending-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 9px;
  background-color: white;
  margin-right: 20px;
}

.announcement-title {
  font-weight: bold;
}

.announcement-text {
  font-size: 0.9em;
}


.trending-card {
  /* margin-bottom: 44px; */
  height: 238px;
}