@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  /* TW Teal 600, 100*/
  --color-main: #0d9488;
  --color-accent: cyan;
  --color-bg: #ccfbf1;

  font-family: 'Poppins';
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

span.material-icons,
span.material-icons-outlined {
  font-size: 36px;
}




.container {
  height: 100vh;
  display: grid;
  grid-template: 140px 1fr / 250px 1fr;
  
}

.sidebar {
  color: white;
  background-color: var(--color-main);
  grid-row: 1 / -1;

  display: grid;
  grid-template-rows: 80px repeat(9, 40px);

  padding: 24px;
}

.sidebar>div {
  display: flex;
  align-items: center;
  gap: 10px;
}





.header {
  grid-column: 2;
  display: grid;
  grid-template: 2fr 3fr / 1fr 340px;
}

#search-bar {
  width: 90%;
  background-color: rgb(231, 231, 231);
  height: 24px;
  border-radius: 24px; 
  border-width: 0px;
}

.search,
.user-info,
.account,
.buttons {
  display: flex;
  align-items: center;
}

.search {
  margin-top: 10px;
}

.account {
  justify-content: space-around;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.buttons {
  gap: 30px;
}

button {
  font-size: 1rem;
  font-weight: bold;
  width: 80px;
  height: 32px;
  border-radius: 18px;
}

.search,
.user-info {
  margin-left: 20px;
}

.search>span {
  margin-right: 15px;
}

.user-info {
  gap: 20px;
}

.account-pfp {
  width: 44px;
  border-radius: 50%;
}

.info-pfp {
  width: 60px;
  border-radius: 50%;
}







.main-content {
  background-color: var(--color-bg);

  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
}

.projects,
.announcements,
.trending {
}

.projects {
  grid-row: 1 / -1;

  display: grid;
  grid-template: 1fr 1fr 1fr / repeat(auto-fit, minmax(260px, 1fr)) ;
}

.project-card {
  height: 250px;
}


